<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="__STATIC____ADMIN__/css/font.css">
    <link rel="stylesheet" href="__STATIC____ADMIN__/css/xadmin.css">
    <script src="__STATIC____ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC____ADMIN__/js/xadmin.js"></script>
    <script type="text/javascript" src="__STATIC____ADMIN__/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<style>
    .layui-upload-img {
        width: 90px;
        height: 90px;
        margin: 0;
    }

    .pic-more {
        width: 100%;
        left:0;
        margin: 20px 0px 0px 0px;
    }

    .pic-more li {
        width: 150px;
        float: left;
        margin-right: 5px;
    }

    .pic-more li .layui-input {
        display: initial;
    }

    .pic-more li a {
        position: absolute;
        top: 0;
        display: block;
    }

    .pic-more li a i {
        font-size: 24px;
        background-color: #008800;
    }

    #slide-pc-priview .item_img img {
        width: 150px;
        height: 150px;
    }

    #slide-pc-priview li {
        position: relative;
    }

    #slide-pc-priview li .operate {
        color: #000;
        display: none;
    }

    #slide-pc-priview li .toleft {
        position: absolute;
        top: 75px;
        left: 5px;
        cursor: pointer;
    }

    #slide-pc-priview li .toright {
        position: absolute;
        top: 75px;
        right: 5px;
        cursor: pointer;
    }

    #slide-pc-priview li .close {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    #slide-pc-priview li:hover .operate {
        display: block;
    }
</style>

<body>
    <form class="layui-form" id="addpro">
        <!-- 多图上传 -->
        <div class="layui-form-item" id="pics" style="margin-top: 20px;">
            <div class="layui-form-label">商品图片</div>
            <div class="layui-input-block" style="width: 70%;">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary pull-left" id="slide-pc">选择多图</button>
                    <div class="pic-more">
                        <ul class="pic-more-upload-list" id="slide-pc-priview">
                                {foreach $oulproduct['pimages'] as $key=>$vo } 
                                <li class="item_img" data-text="{$oulproduct['pimages'][$key]['url']}">
                                        <div class="operate">
                                            <i class="toleft layui-icon">
                                                《</i><i class="toright layui-icon">》</i>
                                            <i  class="close layui-icon">
                                                <img style="height: 32px;width: 32px;" src="__STATIC____ADMIN__/images/quxiao.png">
                                            </i>
                                        </div>
                                            <img src="{$oulproduct['pimages'][$key]['url']}" class="img" >
                                            <input type="hidden" name="url[]" value="{$oulproduct['pimages'][$key]['url']}" />
                                </li>
                                {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <input type="hidden" name="id" value="{$oulproduct.id}">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>商品名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off"
                    class="layui-input" value="{$oulproduct.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="brand" class="layui-form-label">
                <span class="x-red">*</span>品牌
            </label>
            <div class="layui-input-inline">
                <select name="brand" lay-verify="required">
                    {volist name="category" id="category"}
                    <option value="{$category.name}">{$category.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">{$oulproduct.brand}</div>
        </div>
        <div class="layui-form-item">
            <label for="price" class="layui-form-label">
                <span class="x-red">*</span>价格
            </label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price" required="" lay-verify="required" autocomplete="off"
                    class="layui-input" value="{$oulproduct.price}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="number" class="layui-form-label">
                <span class="x-red">*</span>数量
            </label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number" required="" lay-verify="required" autocomplete="off"
                    class="layui-input" value="{$oulproduct.number}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="stock" class="layui-form-label">
                <span class="x-red">*</span>库存
            </label>
            <div class="layui-input-inline">
                <input type="text" id="stock" name="stock" required="" lay-verify="required" autocomplete="off"
                    class="layui-input" value="{$oulproduct.stock}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="production_date" class="layui-form-label">
                <span class="x-red">*</span>生产日期
            </label>
            <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="开始日" name="production_date" id="start" value="{$oulproduct.production_date}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="shelf_life" class="layui-form-label">
                <span class="x-red">*</span>商品失效期
            </label>
            <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="失效期" name="shelf_life" id="start2" value="{$oulproduct.shelf_life}">
            </div>
        </div>
        <div class="layui-form-item">
                <label for="shelf_life" class="layui-form-label">
                    <span class="x-red">*</span>是否下架
                </label>
                <div class="layui-inline layui-show-xs-block">
                    {eq name="$oulproduct.status" value="1"}
                    <input type="radio" name="status" value="1" title="上架" checked="">
                    <input type="radio" name="status" value="0" title="下架">
                    {else/}
                    <input type="radio" name="status" value="1" title="上架">
                    <input type="radio" name="status" value="0" title="下架" checked="">
                    {/eq}
                </div>
        </div>
        <div class="layui-form-item">
            <label for="descript" class="layui-form-label">
                <span class="x-red">*</span>商品描述
            </label>
            <div class="layui-input-inline">
                    <textarea id="content" name="descript" rows="10">{$oulproduct.descript}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="" id="add" type="button">
                确认修改
            </button>
            <button class="layui-btn" lay-filter="add" lay-submit="" id="quxiao">
                取消修改
            </button>
        </div>
    </form>
</body>
<script>
     layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
    });
    layui.use('laydate', function(){
     var laydate = layui.laydate;
        laydate.render({
            elem: '#start'
        });
        laydate.render({
            elem: '#start2'
        });
    });
    layui.use('upload', function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        upload.render({
            elem: '#slide-pc',
            url: "{:url('admin/Commodity/img')}",
            size: 500,
            exts: 'jpg|png|jpeg',
            multiple: true,
            before: function (obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function (res) {
                console.log(res);
                layer.close(layer.msg());//关闭上传提示窗口
                if (res.status == 0) {
                    return layer.msg(res.message);
                }
                $('#slide-pc-priview').append('<li class="item_img" data-text="'+res.info+'"><div class="operate"><i class="toleft layui-icon">《</i><i class="toright layui-icon">》</i><i  class="close layui-icon"><img style="height: 32px;width: 32px;" src="__STATIC____ADMIN__/images/quxiao.png"></i></div><img src="__IMGURL__' + res.info + '" class="img" ><input type="hidden" name="url[]" value="' + res.info + '" /></li>');
            }
        });
    });
    
    //点击多图上传的X,删除当前的图片    
    $("body").on("click", ".close", function () {
        $(this).closest("li").remove();//删除被选元素（及其子元素）
        var pimg = $(this).closest("li").data("text");//获取图片路径
        var id = "{$oulproduct.id}";
         console.log(id);
        $.ajax({
                type: 'post',
                url: "{:url('admin/Commodity/deletepimg')}",
                data: {'pimg':pimg,'id':id},
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                }
            })
    });
    //多图上传点击<>左右移动图片
    $("body").on("click", ".pic-more ul li .toleft", function () {
        var li_index = $(this).closest("li").index();
        if (li_index >= 1) {
            $(this).closest("li").insertBefore($(this).closest("ul").find("li").eq(Number(li_index) - 1));
        }
    });
    $("body").on("click", ".pic-more ul li .toright", function () {
        var li_index = $(this).closest("li").index();
        $(this).closest("li").insertAfter($(this).closest("ul").find("li").eq(Number(li_index) + 1));
    });
    $(function () {
        $('#add').on('click', function () {
            //解决乱码
            var data = decodeURIComponent($('#addpro').serialize(), true);
            console.log(data);
            //用ajax提交用户信息  
            $.ajax({
                type: 'post',
                url: "{:url('admin/Commodity/seaveproduct')}",
                data: data,
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    if (res.error_code == 400) {
                        layer.open({
                            type: 0,
                            title: '警告',
                            content: res.msg,
                            anim: 6
                        });
                    }
                    if (res == 201) {
                        // 可以对父窗口进行刷新
                        xadmin.father_reload();
                        //关闭当前frame
                        xadmin.close();
                    }
                    if (res == 500) {
                        layer.open({
                            type: 0,
                            title: '警告',
                            content: '内部服务错误，请联系站主！',
                            anim: 6
                        });
                    }
                }
            })
        });

        //取消修改
        $('#quxiao').on('click', function () {
            //关闭当前frame
            xadmin.close();
            // 可以对父窗口进行刷新 
            xadmin.father_reload();
        });
    });

    // 富文本编辑器
    var ue = UE.getEditor('content', {
        initialFrameWidth: 800,    //初始化宽度
        initialFrameHeight: 300,   //初始化高度
        maximumWords:1000,         //最大长度限制
        autoHeightEnabled: false,  //禁止自动长高
        autoFloatEnabled:false,    //禁止工具条漂浮
        zIndex:"0"
    });
</script>


</html>